@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/scrollbar/scrollbar.scss';

$font: Georgia, 'Times New Roman', Times, serif;

body,
textarea {
  font-family: $font;
}

button {
  font-family: $font;
  background-color: transparent;
  border: none;
  outline: none;
}

.swiper-container {
  width: 90%;
}
